<div class="row" id="<%= dom_id(question) %>">
  <div class="col-9">
    <h5>Question <span class="q-index"><%= question.position %></span>.</h5>
    <p><%= question.blurb %></p>
    <% if question.answer_type.downcase.start_with? 'multiple_choice' %>
    <p><strong>Choices: </strong><%= question.choices.join(' &bull; ').html_safe %></p>
    <% end %>
    <p class="small">
      <%= link_to('Delete', questionnaire_question_path(@questionnaire, question), method: :delete, data: {confirm: 'Really delete this question?'}, remote: true) unless @questionnaire.responses.count > 0 %>
    </p>
  </div>
  <div class="col-3">
    <p><strong>Type:</strong> <%= question.answer_type.humanize %>
    <%= score_range_s(question) if question.answer_type == 'score' %>
    </p>
  </div>
</div>