<div class="row">
  <div class="col">
    <h1>Users</h1>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Email</th>
          <th scope="col"># Q's</th>
          <th scope="col">Admin?</th>
          <th scope="col">Confirmed?</th>
          <th colspan="1"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.email, become_user_path(user) %></td>
            <td class="h4">
              <%= link_to(questionnaires_uid_path(user)) do %>
              <span class="badge badge-pill badge-primary"><%= user.questionnaires.count %></span>
              <% end %>
            </td>
            <td><%= fa_icon fa_boolean_name(user.admin?) %></td>
            <td><%= fa_icon fa_boolean_name(user.confirmed?) %></td>
            <td><%= link_to(user, method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <%= fa_icon 'trash 2x' %>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%# link_to 'New Questionnaire', new_questionnaire_path, class: 'btn btn-primary' %>
  </div>
</div>
