<turbo-frame id="main-content">
  <div class="row">
    <div class="col">
      <h1>Users</h1>
  
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Email</th>
            <th scope="col"># Q's</th>
            <th scope="col">Admin?</th>
            <th scope="col">Confirmed?</th>
            <th colspan="1"></th>
          </tr>
        </thead>
  
        <tbody>
          <% @users.each do |user| %>
            <tr id="<%= dom_id(user) %>">
              <td><%= link_to user.email, become_user_path(user) %></td>
              <td class="h4">
                <%= link_to(questionnaires_uid_path(user)) do %>
                <span class="badge badge-pill text-bg-primary"><%= user.questionnaires.count %></span>
                <% end %>
              </td>
              <td><%= image_tag("#{fa_boolean_name(user.admin?)}.svg", class: 'img-fluid') %></td>
              <td><%= image_tag("#{fa_boolean_name(user.confirmed?)}.svg", class: 'img-fluid') %></td>
              <td>
                <% unless user == current_user %>
                  <%= link_to(user, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }) do %>
                    <%= image_tag('trash-fill.svg', class: 'img-fluid') %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  
      <br>
  
      <%# link_to 'New Questionnaire', new_questionnaire_path, class: 'btn btn-primary' %>
    </div>
  </div>
</turbo-frame>
