<%= form.hidden_field :question_id %>
  <% case form.object.question.answer_type.to_sym %>
  <% when :single_line %>
    <div class="form-group">
      <%= form.label :atext, form.object.question.blurb %>
      <%= form.text_field :atext, class: 'form-control' %>
    </div>
  <% when :multi_line %>
    <div class="form-group">
      <%= form.label :atext, form.object.question.blurb %>
      <%= form.text_area :atext, class: 'form-control' %>
    </div>
  <% when :yes_no %>
    <p>
      <%= form.object.question.blurb %>
    </p>
  <div class="form-check form-check-inline">
    <%= form.radio_button :yes_no, true, {class: 'form-check-input'} %>
    <%= form.label :yes_no_true, 'Yes', {class: 'form-check-label'} %>
  </div>
  <div class="form-check form-check-inline">
    <%= form.radio_button :yes_no, false, {class: 'form-check-input'} %>
    <%= form.label :yes_no_false, 'No', {class: 'form-check-label'} %>
  </div>
  <% when :true_false %>
    <p>
      <%= form.object.question.blurb %>
    </p>
  <div class="form-check form-check-inline">
    <%= form.radio_button :yes_no, true, {class: 'form-check-input'} %>
    <%= form.label :yes_no_true, 'True', {class: 'form-check-label'} %>
  </div>
  <div class="form-check form-check-inline">
    <%= form.radio_button :yes_no, false, {class: 'form-check-input'} %>
    <%= form.label :yes_no_false, 'False', {class: 'form-check-label'} %>
  </div>
  <% end %>