<turbo-frame id="main-content">
  <div class="row mt-2">
    <div class="col-sm-1 d-print-none">
      <%= link_to 'Back', questionnaire_path(@questionnaire), class: 'btn btn-secondary' %>
    </div>
    <div class="col">
      <h2>Responses to: <%= @questionnaire.title %></h2>
      <small><%= link_to 'Download as csv', questionnaire_responses_path(@questionnaire, format: 'csv') %></small>
      <% @responses.each do |response| %>
        <div class="row my-1 py-2 position-relative">
          <div class="col">
            <%= link_to response.name, questionnaire_response_path(@questionnaire, response), class: 'text-reset text-decoration-none stretched-link' %>
          </div>
          <% if response.phone.present? %>
            <div class="col">
              <%= response.phone %>
            </div>
          <% end %>
          <% if response.email.present? %>
            <div class="col">
              <%= response.email %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
