<div class="row">
  <div class="col">
    <h1>Questionnaire responses</h1>
    <h2>For: <%= @questionnaire.title %></h2>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @responses.each do |response| %>
          <tr>
            <td><%= response.name %></td>
            <td><%= link_to questionnaire_response_path(@questionnaire, response) do %>
              <%= fa_icon 'eye' %>
            <% end %></td>
            <td><%= link_to(questionnaire_response_path(@questionnaire, response), method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <%= fa_icon 'trash' %>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back', questionnaires_path, class: 'btn btn-secondary' %>
  </div>
</div>
