<turbo-frame id="main-content">
  <div class="row mt-2">
    <div class="col-sm-1 d-print-none">
      <%= link_to 'Back', questionnaire_path(@questionnaire), class: 'btn btn-secondary' %>
    </div>
    <div class="col">
      <h2>Responses to: <%= @questionnaire.title %></h2>
      <small><%= link_to 'Download as csv', questionnaire_responses_path(@questionnaire, format: 'csv') %></small>
      <div class="row my-1 py-2 position-relative">
        <% @questionnaire.r_attributes.each do |attr| %>
          <div class="col"><strong><%= attr.capitalize %></strong></div>
        <% end %>
      </div>
      <% @responses.each do |response| %>
        <div class="row my-1 py-2 position-relative">
          <% @questionnaire.r_attributes.each_with_index do |attr, index| %>
            <div class="col">
              <% if index == 0 %>
                <%= link_to response.send(attr), questionnaire_response_path(@questionnaire, response), class: 'text-reset text-decoration-none stretched-link' %>
              <% else %>
                <%= response.send(attr) %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
