<%= form_with(model: @questionnaire, local: true) do |form| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</strong>
      <ul>
        <% @questionnaire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
    <small id="descriptionHelp" class="form-text text-muted">Describe what your questionnaire is about.</small>
  </div>
  <div class="form-group">
    <%= form.label :submit_message %>
    <%= form.rich_text_area :submit_message %>
    <small id="submitMsgHelp" class="form-text text-muted">What each responder will see after they've submitted their response. Can be left blank for standard message.</small>
  </div>
  <div class="form-group">
    <%= form.label :redirect_url %>
    <%= form.url_field :redirect_url, class: 'form-control' %>
    <small id="redirectUrlHelp" class="form-text text-muted">If set, the "Thank You" page displayed after a response is submitted will redirect to this URL.</small>
  </div>
  <div class="form-group">
    <%= form.label :redirect_delay_secs %>
    <%= form.number_field :redirect_delay_secs, class: 'form-control', in: 5..30 %>
    <small id="redirectDelayHelp" class="form-text text-muted">How many seconds to wait before redirecting.</small>
  </div>
  <p>Which of the following recipient details do you require?</p>
  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="nameCheck1" checked disabled>
    <label class="custom-control-label" for="nameCheck1">Name</label>
  </div>
  <% Questionnaire::R_ATTRIBUTES.each do |r_attr| %>
    <div class="custom-control custom-checkbox custom-control-inline">
      <%= form.check_box r_attr.to_sym, class: 'custom-control-input' %>
      <%= form.label r_attr.to_sym, r_attr.gsub(/^r_/, ''), class: 'custom-control-label' %>
    </div>
  <% end %>


  <div class="actions mt-5">
    <% if @questionnaire.created_at.blank? %>
      <h3>Step 2.</h3>
      <%= form.submit 'Add questions', class: 'btn btn-primary'%>
    <% else %>
      <%= form.submit 'Save', class: 'btn btn-primary mb-3'%>
    <% end %>
  </div>
<% end %>
