<div class="row">
  <div class="col-12">
    <h1 class=pt-5>Questionnaires</h1>
  </div>
    
  <% @questionnaires.each do |questionnaire| %>
    <% ctx = questionnaire.responses.present? ? 'info' : 'success' %>
    <div class="col-md-8 m-1 p-2 rounded list-group-item-<%= ctx %>">
      <%= link_to questionnaire.title, questionnaire, class: 'text-reset stretched-link' %>
      <span class="badge badge-<%= ctx %> float-right"><%= questionnaire.responses.count %></span>
    </div>
    <% if questionnaire.user != current_user %>
    <div class="col m-1 p-2"><div class=float-right><%= questionnaire.user.email %></div></div>
    <% else %>
    <div class="col"></div>
    <% end %>
    <div class="w-100"></div>
  <% end %>

  <div class="col-12">
    <%= link_to 'New Questionnaire', new_questionnaire_path, class: 'btn btn-primary mt-2' %>
  </div>
</div>
