<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
    
    <h1>Questionnaires</h1>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col"># Questions</th>
          <th scope="col"># Responses</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @questionnaires.each do |questionnaire| %>
          <tr>
            <td><%= questionnaire.title %></td>
            <td><%= questionnaire.questions.count %></td>
            <td><%= link_to questionnaire.responses.count, questionnaire_responses_path(questionnaire) %></td>
            <td><%= link_to(questionnaire) do %>
              <%= fa_icon 'eye' %>
            <% end %></td>
            <td><%= link_to(questionnaire, method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <%= fa_icon 'trash' %>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Questionnaire', new_questionnaire_path, class: 'btn btn-primary' %>
  </div>
</div>
