<turbo-frame id="main-content" refresh="morph">
  <div class="row">
    <div class="col-sm-1 mt-2">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <%= link_to 'Back', questionnaires_path, class: 'btn btn-secondary', role: 'button' %>
      </div>
    </div>
    <div class="col">
      <h1>
        <%= @questionnaire.title %>
      </h1>
      <% if @questionnaire.user != current_user %>
        <h5 class="text-muted"><%= @questionnaire.user.email %></h5>
      <% end %>

      <p class="text-muted">Send this link to the people you wish to complete this questionnaire:
      <%= link_to nil, new_response_url(@questionnaire) %></p>
      <% unless @questionnaire.editable? %>
        <p>Once someone has completed a response you can no longer add or change questions to this questionnaire.
          <%= link_to 'See responses', questionnaire_responses_path(@questionnaire), class: 'btn btn-primary btn-sm' %></p>
      <% end %>
      <nav class="nav nav-tabs" role="tablist" data-controller="tabs">
        <button class="nav-link active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" data-action="tabs#show" type="button" role="tab" aria-controls="nav-details" aria-selected="true">Details</button>
        <button class="nav-link" id="nav-questions-tab" data-bs-toggle="tab" data-bs-target="#nav-questions" data-action="tabs#show" type="button" role="tab" aria-controls="nav-questions" aria-selected="false">Questions</button>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div id="nav-details" class="tab-pane fade show active" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
          <% if @questionnaire.description.present? %>
            <div class="card my-2">
              <div class="card-header">
                <h4 class="float-start">Questionnaire description</h4>
                <%= link_to 'Edit', edit_questionnaire_path(@questionnaire), class: 'btn btn-primary float-end', role: 'button' %>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <%= @questionnaire.description %>
                </div>
              </div>
            </div>
          <% end %>
          <% if @questionnaire.submit_message.present? %>
            <div class="card my-2">
              <div class="card-header text-bg-info">
                <h5>Submit message</h5>
              </div>
              <div class="card-body">
                <div class="card-text">
                  <%= @questionnaire.submit_message %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="mb-3">
            <span class="h6">Responder attributes collected:</span>
            <% @questionnaire.r_attributes.each do |a| %>
              <span class="badge text-bg-primary"><%= a.humanize %></span>
            <% end %>
          </div>
          <% if @questionnaire.redirect_url.present? && @questionnaire.redirect_delay_secs.present? %>
            <div class="text-bg-dark p-2">
              The "Thank you" page will redirect to <strong><%= @questionnaire.redirect_url %></strong> after <%= @questionnaire.redirect_delay_secs %> seconds.
            </div>
          <% end %>
        </div>
        <div id="nav-questions" class="tab-pane fade" role="tabpanel" aria-labelledby="questions-tab" tabindex="0">
          <turbo-frame id="questions" src="<%= questionnaire_path(@questionnaire, show_questions: true) %>" loading="lazy">
          </turbo-frame>
        </div>
      </div>
    </div>
    <div class="col-sm-1 mt-2">
      <%= link_to('Delete', @questionnaire, method: :delete, class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }) %>
    </div>
  </div>
</turbo-frame>