<div class="row">
  <div class="col offset-sm-1 mr-auto">
    <h1 class="mt-3">
      <%= @questionnaire.title %>
    </h1>
  </div>
  <div class="w-100"></div>
  <div class="col-sm-1">
    <%= link_to 'Back', questionnaires_path, class: 'btn btn-secondary', role: 'button' %>
  </div>
  <div class="col-sm-10">
    <p class="text-muted">Send this link to the people you wish to complete this questionnaire: 
    <%= link_to nil, new_response_url(@questionnaire) %></p>
    <% unless @questionnaire.responses.none? %>
      <p>Once someone has completed a response you can no longer edit this questionnaire. <%= link_to 'See responses', questionnaire_responses_path(@questionnaire), class: 'btn btn-primary btn-sm' %></p>
    <% end %>
    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action <%= 'active' unless flash.key?('show_questions') %>" id="q_details-list" data-toggle="list" href="#q-details" role="tab" aria-controls="details">Details</a>
      <a class="list-group-item list-group-item-action <%= 'active' if flash.key?('show_questions') %>" id="q-questions-list" data-toggle="list" href="#q-questions" role="tab" aria-controls="questions">Questions</a>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade <%= 'show active' unless flash.key?('show_questions') %>" id="q-details" role="tabpanel" aria-labelledby="q-details-list">
        <% if @questionnaire.responses.none? %>
          
          <%= link_to 'Edit', edit_questionnaire_path(@questionnaire), class: 'btn btn-primary btn-sm mt-2', role: 'button' %>
        
        <% end %>
        <% if @questionnaire.description.present? %>
          <div class="card my-2">
            <div class="card-header text-light bg-dark">
              Questionnaire description
            </div>
            <div class="card-body">
              <div class="card-text">
                <%= @questionnaire.description %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @questionnaire.submit_message.present? %>
          <div class="card my-2">
            <div class="card-header text-light bg-dark">
              Submit message
            </div>
            <div class="card-body">
              <div class="card-text">
                <%= @questionnaire.submit_message %>
              </div>
            </div>
          </div>
        <% end %>
        <span class="h6">Responder attributes collected:</span> <%= @questionnaire.r_attributes.map {|a| '<span class="badge badge-primary">' + a.humanize + '</span>'}.join(' ').html_safe %>
        <% if @questionnaire.redirect_url.present? && @questionnaire.redirect_delay_secs.present? %>
          <div class="bg-dark text-white p-2">
            The "Thank you" page will redirect to <strong><%= @questionnaire.redirect_url %></strong> after <%= @questionnaire.redirect_delay_secs %> seconds.
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade <%= 'show active' if flash.key?('show_questions') %>" id="q-questions" role="tabpanel" aria-labelledby="q-questions-list">
        <!-- Button trigger modal -->
        <% if @questionnaire.responses.none? %>
        <%= link_to 'Add Question', new_questionnaire_question_path(@questionnaire), remote: true, class: 'btn btn-primary btn-sm mt-2' %>
        <% end %>
        <div <%= 'id=questions' if @questionnaire.responses.none? %> data-url="<%= sort_questionnaire_questions_path @questionnaire %>" class="border rounded my-2 p-3 border-<%= @questionnaire.responses.none? ? 'success' : 'danger' %>">
          <%= render @questionnaire.questions %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <%= link_to('Delete', @questionnaire, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }) %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="questionModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%# render 'questions/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-submit" data-dismiss="modal">Save Question</button>
      </div>
    </div>
  </div>
</div>