<div class="row">
  <div class="col offset-sm-1 mr-auto">
    <h1 class="mt-3">
      <%= @questionnaire.title %>
    </h1>
  </div>
  <% if @questionnaire.responses.none? %>
    <div class="col-auto text-right">
      <%= link_to 'Edit', edit_questionnaire_path(@questionnaire), class: 'btn btn-primary btn-sm', role: 'button' %>
    </div>
  <% end %>
  <div class="w-100"></div>
  <div class="col-sm-1">
    <%= link_to 'Back', questionnaires_path, class: 'btn btn-secondary', role: 'button' %>
  </div>
  <div class="col-sm-10">
    <p class="text-muted">Send this link to the people you wish to complete this questionnaire: 
    <%= link_to nil, new_response_url(@questionnaire) %></p>
    <% unless @questionnaire.responses.none? %>
      <p>Once someone has completed a response you can no longer edit this questionnaire.</p>
    <% end %>
    <% if @questionnaire.description.present? %>
      <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="description">
        Description
      </a>
      <div class="collapse border rounded p-3 my-2" id="description">
        <%= @questionnaire.description %>
      </div>
    <% end %>
    
    <div class="row my-2">
      <div class="col-12">
        <!-- Button trigger modal -->
        <% if @questionnaire.responses.none? %>
        <%= link_to 'Add Question', new_questionnaire_question_path(@questionnaire), remote: true, class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
    <div <%= 'id=questions' if @questionnaire.responses.none? %> data-url="<%= sort_questionnaire_questions_path @questionnaire %>" class="border rounded mb-3 p-3 border-<%= @questionnaire.responses.none? ? 'success' : 'danger' %>">
      <%= render @questionnaire.questions %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="questionModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%# render 'questions/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-submit" data-dismiss="modal">Save Question</button>
      </div>
    </div>
  </div>
</div>